*{box-sizing: border-box;}
a{text-decoration: none;}
ol,ul,li{list-style: none;}
button{background: none; border: none; outline: none;}

/*-------header---------------------------------------------------------------*/
#header{width:100%; height:135px;}

#header .global_search{position: relative; height:65px; padding:0 40px;}
#header .global_search .logo{float:left;}
#header .global_search .search{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}

#header .global_search .search>input{width:400px; border: none; border-bottom: 2px solid #000;}
#header .global_search .search>input::placeholder{font-size:12px; color: #000; opacity: 0.8;}
#header .global_search .search>input:focus{outline: none;}

#header .global_search .search .s_btn>a{display: block; font-size:20px; color: #000; }

#header .global_search .icon{float:right; margin-top:18px;}
#header .global_search .icon li{float:left; padding:0 20px;}
#header .global_search .icon li>a{display: block; text-align: center;}
#header .global_search .icon li>a>h3{font-size:12px; color: #000;}

#header .gnb_wrap{height:70px; background: #000; }
#header .gnb_inner{width:1180px; height:100%; margin: 0 auto;}
#header .gnb_inner::after{content:''; display: block; clear: both;}

#gnb .left{float:left;}
#gnb .left::after{content:''; display: inline-block; width:1px; height:15px; background: #fff; opacity: 0.6; margin:28px 50px 0 ;}
#gnb .left>li{float:left; padding:0px 20px;}
#gnb .left>li>a{display: block; font-size:14px; color: #fff; font-weight: 600; line-height: 70px; } 
#gnb .left>li:hover>a{color: #1eb290;}

#gnb .left>li .sub_wrap{display: none; position: absolute; top:135px; left:0; width:100%; background:#fff;}
#gnb .left>li .sub_inner{width:1300px; margin: 0 auto; padding-bottom: 40px;}
#gnb .left>li .sub_inner::after{content:''; display: block; clear: both;}

#gnb .left>li .sub_menu_wrap{float:left; width:60%;}
#gnb .left>li .sub_menu>li{float:left; width:20%; padding-top:40px;}
#gnb .left>li .sub_menu>li>a{display: block; font-size:13px; color: #000; font-weight: 600; margin-bottom: 20px;}

#gnb .left>li .sub_menu_depth>li>a{display: block; font-size:11px; color: #000; margin-bottom:10px;}
#gnb .left>li .sub_menu_depth>li>p{font-size:11px; line-height: 20px; color: #777;}

#gnb .left>li .promotion_wrap{float:right; width:40%;}
#gnb .left>li .promotion_menu>li{float:right; width:21.25%; margin-left: 5%; padding-top:40px;}
#gnb .left>li .promotion_menu>li:last-of-type{margin-left: 0;}
#gnb .left>li .promotion_menu>li>a{display: block;}
#gnb .left>li .promotion_menu>li>a .thumb{width:100%;}
#gnb .left>li .promotion_menu>li>a .thumb>img{width:100%;}
#gnb .left>li .promotion_menu>li>a .caption>p{text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; font-size:11px; color: #777; margin-bottom: 5px;}
#gnb .left>li .promotion_menu>li>a .caption>p.brand{font-size:13px; font-weight:500; color: #000; margin:10px 0;}
#gnb .left>li .promotion_menu>li>a .caption>p.price{font-size: 13px; font-weight:500; color: #000; margin-top: 20px;}

#gnb .right>li{float:left; padding:0 20px;}
#gnb .right>li>a{display: block; font-size:14px; color: #fff; font-weight: 600; line-height: 70px; }
#gnb .right>li:hover>a{color: #1eb290;}


/*-------visual---------------------------------------------------------------*/
#visual{width:100%; height:600px; background: gray;}


/*-------common---------------------------------------------------------------*/
:root {
    --swiper-theme-color: rgba(153, 153, 153, 0.548);
    --swiper-navigation-size: 40px;
}

.content{width:100%; padding:100px 0;}
.content .inner{width:1800px; margin: 0 auto;}
.content .inner::after{content:''; display: block; clear:both;}

.content .title{display: block; text-align: center; font-size:50px; font-weight:200; margin-bottom: 40px;}

/*-------style---------------------------------------------------------------*/
#style .box{position: relative; float:left; width:23.5%; margin-right:2%;}
#style .box:last-of-type{margin-right: 0;}
#style .box .pic,
#style .box .pic>img{width:100%;}

#style .box .msg{text-align: center; margin-top: 30px; padding:0 40px;}
#style .box .msg .msg_title{font-size:18px; color: #000; font-weight: 600; margin-bottom: 10px;}
#style .box .msg .msg_info{font-size:12px; color: #777; line-height: 20px;}

/*-------banner---------------------------------------------------------------*/
#banner{height:150px;}
#banner .left{float:left; width:50%; background:#f3a5a5;}
#banner .left>img{float:right;}
#banner .right{float:right; width:50%; background: #e98063;}
#banner .right>img{float:left;}

/*-------new---------------------------------------------------------------*/
#new .title{margin-bottom:-20px;}
#new .swiper-container{width:100%; height:700px; margin:0 auto;}
#new .swiper-container .swiper-slide{width:100%; transform: scale(0.8); transition: 0.5s;}

#new .swiper-container .swiper-slide .pic>img{width:100%;}

#new .swiper-container .swiper-slide .msg{width:100%; margin-top:40px;}
#new .swiper-container .swiper-slide .msg .product_name{font-size:16px; font-weight: bold;}
#new .swiper-container .swiper-slide .msg .info{font-size:15px; line-height: 20px; margin:8px 0 20px;}

#new .swiper-container .swiper-slide .msg .after{font-size:20px; font-weight:400; margin-right:15px; }
#new .swiper-container .swiper-slide .msg .before{font-size:15px; color: #777; text-decoration: line-through;}
#new .swiper-container .swiper-slide .msg .sale{font-size:14px; color: #ff4000; float:right;}

#new .swiper-container .swiper-slide-active .pic{position: absolute; top:7%; transform: scale(1.2);}
#new .swiper-container .swiper-slide-active .msg{position: absolute; top:80%;  }

/*-------make---------------------------------------------------------------*/
#make{padding-top:0;}

#make .swiper-container{width:100%;}
#make .swiper-container .swiper-slide{width:100%;}

#make .swiper-container .swiper-slide .pic{position: relative;}
#make .swiper-container .swiper-slide .pic>img{width:100%;}
#make .swiper-container .swiper-slide .pic .like{position: absolute; top:0; right:0; padding:10px;}
#make .swiper-container .swiper-slide .pic .like>i{display: block; font-size: 20px; color: #fff;}

#make .swiper-container .swiper-slide .msg{width:100%; margin-top:20px;}
#make .swiper-container .swiper-slide .msg .product_name{font-size:15px; font-weight:500;}
#make .swiper-container .swiper-slide .msg .category{font-size: 14px; color: #444; margin:15px 0;}
#make .swiper-container .swiper-slide .msg .info{font-size:13px; color: #777; margin-bottom: 30px;}

#make .swiper-container .swiper-slide .msg .before{font-size:16px; color: #444;}

/*-------exclusive---------------------------------------------------------------*/
#exclusive{padding-top:0;}

#exclusive .top{width:100%; height:600px; border:1px solid #000;}
#exclusive .swiper-container{width:100%; height:600px;}
#exclusive .top .swiper-container .swiper-slide{width:100%;}
#exclusive .top .swiper-container .swiper-slide-active{transform: scaleX(1.5);}
#exclusive .top  .swiper-slide .pic{width:460px; height:100%; background: #ff4000; overflow: hidden; margin: 0 auto; }
#exclusive .top  .swiper-slide .pic img{width:150%;}


#exclusive .bottom{width:100%; height:300px; border:1px solid #000; margin-top:20px;}








