*{box-sizing: border-box;}
a{text-decoration: none;}
ol,ul,li{list-style: none;}
button{background: none; border: none; outline: none;}

/*-------header---------------------------------------------------------------*/
#header{width:100%; height:135px;}

#header .global_search{position: relative; height:65px; padding:0 40px;}
#header .global_search .logo{float:left;}
#header .global_search .search{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}

#header .global_search .search>input{width:400px; border: none; border-bottom: 2px solid #000;}
#header .global_search .search>input::placeholder{font-size:12px; color: #000; opacity: 0.8;}
#header .global_search .search>input:focus{outline: none;}

#header .global_search .search .s_btn>a{display: block; font-size:20px; color: #000; }

#header .global_search .icon{float:right; margin-top:18px;}
#header .global_search .icon li{float:left; padding:0 20px;}
#header .global_search .icon li>a{display: block; text-align: center;}
#header .global_search .icon li>a>h3{font-size:12px; color: #000;}

#header .gnb_wrap{height:70px; background: #000; }
#header .gnb_inner{width:1180px; height:100%; margin: 0 auto;}
#header .gnb_inner::after{content:''; display: block; clear: both;}

#gnb .left{float:left;}
#gnb .left::after{content:''; display: inline-block; width:1px; height:15px; background: #fff; opacity: 0.6; margin:28px 50px 0 ;}
#gnb .left>li{float:left; padding:0px 20px;}
#gnb .left>li>a{display: block; font-size:14px; color: #fff; font-weight: 600; line-height: 70px; } 
#gnb .left>li:hover>a{color: #1eb290;}

#gnb .left>li .sub_wrap{display: none; position: absolute; top:135px; left:0; width:100%; background:#fff;}
#gnb .left>li .sub_inner{width:1300px; margin: 0 auto; padding-bottom: 40px;}
#gnb .left>li .sub_inner::after{content:''; display: block; clear: both;}

#gnb .left>li .sub_menu_wrap{float:left; width:50%;}
#gnb .left>li .sub_menu>li{float:left; width:20%; padding-top:40px;}
#gnb .left>li .sub_menu>li>a{display: block; font-size:13px; color: #000; font-weight: 600; margin-bottom: 20px;}

#gnb .left>li .sub_menu_depth>li>a{display: block; font-size:11px; color: #000; margin-bottom:10px;}
#gnb .left>li .sub_menu_depth>li>p{font-size:11px; line-height: 20px; color: #777;}

#gnb .left>li .promotion_menu>li{float:left; width:11%; padding-top:40px;}
#gnb .left>li .promotion_menu.women{width:50%;}


#gnb .left>li .promotion_menu>li>a{display: block;}
#gnb .left>li .promotion_menu>li>a .caption>p{text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; font-size:11px; color: #777; margin-bottom: 5px;}
#gnb .left>li .promotion_menu>li>a .caption>p.brand{font-size:13px; font-weight:500; color: #000; margin:10px 0;}
#gnb .left>li .promotion_menu>li>a .caption>p.price{font-size: 13px; font-weight:500; color: #000; margin-top: 20px;}

#gnb .right>li{float:left; padding:0 20px;}
#gnb .right>li>a{display: block; font-size:14px; color: #fff; font-weight: 600; line-height: 70px; }
#gnb .right>li:hover>a{color: #1eb290;}


/*-------visual---------------------------------------------------------------*/
#visual{width:100%; height:600px; background: gray;}
